<h2>New Pet</h2>

<form action="/pet/create" method="POST">

<label for="name">Name:</label>
<input type="text" name="name">

<label for="category">Category:</label>
<select name="category" multiple="true"> 
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
    <option value="exotic">Exotic</option>
    <option value="farm">Farm</option>

</select>



<label for="owner">Owner:</label>
<input type="text" name="owner">

<label for="age">Age:</label>
<input type="text" name="age">

<label for="weigth">Weigth:</label>
<input type="text" name="weigth">

<label for="triage">Triage:</label>
<input type="text" name="triage">

<label for="diagnostic">Diagnostic:</label>
<input type="text" name="diagnostic">

<label for="treatement">Treatement:</label>
<input type="text" name="treatement">
<h5>{{errorMessage}}</h5>
<button>Create</button>
</form>
<a href="/dentro"><button>Menu</button></a>