<header>
  <strong>
        <nav class="navbar navbar-dark bg-primary">
<h1 class="text-light">New Patient </h1>
 </nav>
 </strong>
    </header>
</p>
  <p></p>
  <p>
<body class="cuerpo4">
  <div class="d-flex justify-content-center">
<div>
<form action="/pet/create" method="POST">
</p>
  <p>
<strong>
<label for="name">Name:</label>
<input type="text" name="name">
</p>
  <p>
<label for="category">Category:</label>
<select name="category" multiple="true"> 
    <option value="dog">Dog</option>
    <optio<div></div>n value="cat">Cat</option>
    <option value="exotic">Exotic</option>
    <option value="farm">Farm</option>

</select>
</p>
  <p>

<label for="owner">Owner:</label>
<input type="text" name="owner">
</p>
  <p>
<label for="age">Age:</label>
<input type="text" name="age">
</p>
  <p>
<label for="weigth">Weigth:</label>
<input type="text" name="weigth">
</p>
  <p>
<label for="triage">Triage:</label>
<input type="text" name="triage">
</p>
  <p>
<label for="diagnostic">Diagnostic:</label>
<input type="text" name="diagnostic">
</p>
  <p>
<label for="treatement">Treatement:</label>
<input type="text" name="treatement">
</p>
  <p>
<h5>{{errorMessage}}</h5>
</p>
  <p>
 <button class="btn btn-primary">Create</button>
</strong>
</form>
</div>
</body>  
<a href="/dentro"> <button class="btn btn-primary">Menu</button></a>