<h2>New Pet</h2>

<form action="/pet/create" method="POST">

<label for="name">Name:</label>
<input type="text" name="name">

<label for="category">Category:</label>
<input type="text" name="category">

<label for="owner">Owner:</label>
<input type="text" name="owner">

<label for="age">Age:</label>
<input type="text" name="age">

<label for="weigth">Weigth:</label>
<input type="text" name="weigth">

<label for="triage">Triage:</label>
<input type="text" name="triage">

<label for="diagnostic">Diagnostic:</label>
<input type="text" name="diagnostic">

<label for="treatement">Treatement:</label>
<input type="text" name="treatement">





<button>Create</button>

</form>