<header>
  <strong>
        <nav class="navbar navbar-dark bg-primary">
<h1 class="text-light">Pet List</h1>
 </nav>
 </strong>
    </header>
</p>
  <p></p>
  <p>
<body class="cuerpo5">
  <div class="d-flex justify-content-center">
<div>
{{#each listPet}}

  <li>
   
    <strong>
     <a href="/pet/{{this._id}}">Name: {{this.name}}</a>
     <br>
     <a href="/pet/{{this._id}}">Owner Name: {{this.owner}}</a>
    </strong>
    </p>
  <p>
    </li>

{{/each}}

<a href="/dentro"><button class="btn btn-primary">Menu</button></a>
</div>
</body>