
<form action="/pet">
    <label for="search">Search</label>
    <input type="text" name="search">
    <button>Search</button>
</form>



{{!-- {{#if listPet}}
{{listPet.name}}
{{listPet.owner}}
{{listPet.user}}
{{else}}
{{/if}} --}}