

<h1>Welcome {{this.name}}</h1>

<a href="/pet/create"><button>New Patient</button></a>

<a href="/pet/list"><button>Patients</button></a>

<a href="/pet/search"><button>Search</button></a>

<form action="/user/logout" method="POST">
<button>Logout</button>
</form>

