
 <header>
        <nav>
        <a class="btn btn-outline-primary" href="/user/signup">Signup</a>
        <a class="btn btn-outline-primary" href="/user/login">Login</a>
        </nav>
    </header>

    <main>

    <section class="main-input">
     <form action="/user/search" method="POST">
     <div class="main-input-container">
    <label for="search"></label>
    <input type="text" name="city">
    </div>
     <h5>{{errorMessage}}</h5>
    <section class="main-buttons">
       <button class="btn btn-primary">Search</button>
         </form>
         </div>
    </section>
    </main>
