<header>
  <strong>
        <nav class="navbar navbar-dark bg-primary">
<h1 class="text-light">SIGNUP</h1>
 </nav>
 </strong>
    </header>
</p>
  <p></p>
  <p>
<body class="cuerpo1">

<div class="d-flex justify-content-center">
    <form action="/user/signup" method="POST">
    
    </p>
      <p>
    <label for="name">Name:</label>
    <input type="text"name="name">
    </p>
      <p>
    <label for="address">Address:</label>
    <input type="text"name="address">
    </p>
      <p>
    <label for="city">City:</label>
    <input type="text"name="city">
    </p>
      <p>
    <label for="phone">Phone:</label>
    <input type="text"name="phone">
    </p>
      <p>
    <label for="days">Days:</label>
    <input type="text"name="days">
    </p>
      <p>
    <label for="hours">Hours:</label>
    <input type="text"name="hours">
    </p>
      <p>
    <label for="email">Email:</label>
    <input type="text"name="email">
    </p>
      <p>
    <label for="password">Password:</label>
    <input type="password"name="password">
    </p>
      <p>
    <h5>{{errorMessage}}</h5>
    </p>
      <p>
    
    <button class="btn btn-primary">Signup</button>
    </form>
</div>
</body>




